.react-app {
  background-image: url('../images/fon2.png');
  height: 640px;
  width: 900px;
  font: 14px "Arial" ;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  margin: 0.5em;
  margin-top: 0;
  text-align: center;
  color: #CF6BAE;
}

h2 {
  margin: 0.5em;
  font: 20px "Century Gothic" ;
  margin-top: 0;
  text-align: center;
  color: #CC0000;
}


input:not([type='radio']):not([type='checkbox']) {
  width: 80px;
}

#fire-red {
  position: absolute;
  top: 170px;
  left: 5px;
  width: 80px;
  z-index: 3;
  opacity: 50%;
}

.fire {
  position: absolute;
  left: 0px;
  width: 100px;
  visibility: hidden;
  z-index: 4;
}

#fire1 {
  top: 0px;
  animation: firing 0.5s ease infinite;
}

#fire2 {
  top: 50px;
  animation: firing 0.5s ease 0.0625s infinite;
}

#fire3 {
  top: 10px;
  animation: firing 0.5s ease 0.125s infinite;
}

#fire4 {
  top: 40px;
  animation: firing 0.5s ease 0.1875s infinite;
}

#fire5 {
  top: 20px;
  animation: firing 0.5s ease 0.25s infinite;
}

#fire6 {
  top: 20px;
  animation: firing 0.5s ease 0.3125s infinite;
}

#fire7 {
  top: 0px;
  animation: firing 0.5s ease 0.375s infinite;
}

#fire8 {
  top: 0px;
  animation: firing 0.5s ease 0.4375s infinite;
}

@keyframes firing {
  0% {visibility: visible}
  12.5% {visibility: hidden}
  100% {visibility: hidden}
}

#ch-down {
  position: absolute;
  top: 160px;
  left: -40px;
  width: 175px;
}

#ch-up {
  position: absolute;
  top: 175px;
  left: -40px;
  width: 175px;
  z-index: 4;
}

.drag-item:hover {
  cursor: pointer;
}

.time-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0.5em; 
}

.time-button:hover {
  cursor: pointer;
}
